@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

* {
  box-sizing: border-box;
}

.app {

  --color1: #545E75;
  --color2: #F2F4F3;
  --color3: #519E8A;
  --color4: #E55934;
  --color5: #FA7921;
  --color6: #230903;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: calc(10px + 2vmin);
    color: white;

    text-align: center;
}


.header {
  display: inline-flex;
  padding: 0.5rem 0.5rem 0.5rem 4rem;
  position: sticky;
  top:0;
  width: 100%;
  background-color: var(--color2);
  font-size: calc(10px + 2vmin);
  color: var(--color1);
}

.navigation-section {
  padding-left: 4rem;
  flex: 1;
  display: inline-flex;
  justify-content: right;
}

.navigation-item {
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.5rem 2rem 0.5rem 2rem;
  transition: 0.3s ease;
}

.navigation-item:hover{
  background: rgba(0,0,0,0.2);
} 

.card {
  display: inline-flex;
  flex-direction: row;
  height: 80vh;
  width: 100%;
}

.card > .text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card > .image-container {
  flex: 1;
  margin: auto;
}
.card .image-container .image {
  object-fit: cover;
  max-height: 80vh;
  width: 100%;
}

.card:nth-child(even){
  background-color: var(--color1);
}
.card:nth-child(odd){
  background-color: var(--color2);
  flex-direction: row-reverse;
  color: var(--color1)
}
